body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: row;
}

.login-box {
  width: 30%;
}

.chatroom-box {
  width: 40%;
  list-style: none;
}

.chat-post-me {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
  background-color: aquamarine;
  border: 1px ;
  margin: 0.5rem;
}

.chat-post {
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  background-color: thistle;
  margin: 0.5rem;
}