.user-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-inline-start: 0;
  color: white;
}

.user-list li{
  border-bottom: 1px solid black;
}

.users-list-container {
  color: white;
}
